@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>api介绍</title>
</head>
<body>
    <div>
        <table id="menu">
            <tbody>

            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        var list = @ViewData["list"];
        console.log(list);
    </script>
</body>
</html>
